.sidePanel {
    width: 280px;
    height: 100%;
    background: var(--panel);
    padding: 20px;
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    transition: 0.3s ease;
    z-index: 1000;
}

.sidePanelCollapsed {
    width: 50px;
    padding: 20px 2px;
}

.collapseButton {
    padding-bottom: 12px;
}

.topSection {
    flex-shrink: 0;
}

.panelHeader h2 {
    margin: 0 0 30px;
    font-weight: 600;
}

.panelButtons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.panelButton {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 12px 12px;
    border: 1px solid transparent;
    border-radius: 6px;
    color: var(--muted);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s ease;
    position: relative;
}

.panelButton svg {
    width: 20px;
    height: 20px;
    stroke: var(--muted);
    color: var(--muted);
}

.panelButton:hover,
.panelButtonActive {
    /*background: #2a2a2a;*/
    border: 1px solid var(--border);
    color: var(--text);
    border-color: var(--text);
}

.panelButton:hover svg,
.panelButtonActive svg {
    stroke: var(--text);
}

.middleSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 0;
}

.footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: opacity 0.2s ease 0.25s;
}

.sidebarLogo {
    border-top: 1px solid var(--border);
    padding: 12px 0 8px;
    text-align: center;
}

.logoImage {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.versionBadge {
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--muted);
}

.panelFooterCollapsed {
    opacity: 0;
    transition: opacity 0.05s ease;
}

.badgeWrapper {
    opacity: 1;
    transition: opacity 0.2s ease 0.3s;
    margin-left: auto;
}

.sidePanelCollapsed .badgeWrapper {
    opacity: 0;
    transition: opacity 0s;
}

.collapseIcon {
    transition: transform 0.3s ease;
}

.collapseIconRotated {
    transform: rotate(180deg);
}
