.titleBar {
    width: 100%;
    height: 40px;
    background-color: var(--panel);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: drag;
    flex-shrink: 0;
    padding: 0 16px;
    z-index: 9999;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, var(--border), var(--border), var(--panel), var(--panel)) 1;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    user-select: none;
}

.logo {
    width: 24px;
    height: 24px;
}

.title {
    font-size: 16px;
    color: var(--text);
    letter-spacing: 0.5px;
    font-family: 'Majesty', sans-serif;
}

.darwin .logoContainer {
    margin-left: 70px;
}
